@using System.Security.Claims
@{
    ViewData["Title"] = "ProfileKhachOrAdmin";
}

<h1>Profile Khach Or Admin</h1>
<div class="container">
	<h2>Welcome @Context.User.Identity.Name</h2>
	<p> Tên Đăng Nhập:	@Context.User.FindFirstValue("CustomerID")</p>
	<p> Email:			@Context.User.FindFirstValue(ClaimTypes.Email);</p>
	@* <a asp-controller="Admin" asp-action="DangXuat">Đăng xuất</a> *@
</div>


